.userPanel {
  display: grid;
  grid-template-columns:
  minmax(auto, 230px)
  minmax(auto, 430px)
  minmax(auto, 132px)
  minmax(min-content, max-content);
  grid-gap: 10px;
  align-content:stretch;
  justify-content: stretch;
  justify-items:stretch;
  padding: 0 30px;
  height: 49px;
  background-color: #fff;
}
/* Dissapearing icons */
.logInIcon{
  margin-right: 15px;
  display: none;
}
.logInIcon>img{
  margin-top: 15px;
  width:20px;
  height: auto;
}
.greeting {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding-top: 17px;
  white-space: nowrap;
}
.greeting > a{
  color: #f62f5e;
}
/* Featured Menu Elements */
.featuredMenu{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 21px;
  justify-content: start;
}
.featuredMenu > a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding-top: 17px;
  color: #2e2e2e;
  white-space: nowrap;
}
/* Currency Selector elements */
.currencySelector{
  display: grid;
  grid-template-columns: 24px auto;
  justify-content: stretch;
  grid-gap: 10px;
  padding-top: 17px;
}
.currencySelector > img{
  width:24px;
  height: 16px;
}
.currencySelector > span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #2e2e2e;
  width: 100%;
  white-space: nowrap;
}
/* Cart elements */
.cartIndicator{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 12px;
  justify-content: flex-end;
  justify-self:end;
  grid-gap: 20px;
  position: relative;
}
.cartIndicator > img{
  width:20px;
  height: auto;
  margin-top: 15px;
}
.cartIndicator > span {
  position: absolute;
  top: 4px;
  left: 11px;
  background-color: #f62f5e;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding-top: 2px;

}
.cartIndicator > div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0.1px;
  color: #2e2e2e;
  padding-top: 17px;
  white-space: nowrap;
}

/* Responsive layout */
@media screen and (max-width: 850px){
  .cartIndicator > div >span{
    display:none;
  }
  .currencySelector > span{
    display:none;
  }
}

@media screen and (max-width: 700px){
  .currencySelector{
    grid-template-columns: auto 1fr;
  }
  .cartIndicator{
    grid-template-columns: 20px 1fr;
  }
  .featuredMenu{
    display:none;
  }
  .currencySelector > span{
    display:block;
  }
  .userPanel {
    display: grid;
    grid-template-columns:
    auto
    minmax(auto, 132px)
    minmax(min-content, max-content);
  }
}

@media screen and (max-width: 550px){
  .greeting{
    display:none;
  }
  .logInIcon{
    display: block;
  }
  .userPanel{
    grid-template-columns: 1fr minmax(auto, 132px) minmax(min-content, max-content);;
    justify-content: space-between;
  }
}
