.mainBanner {
  padding: 23px 30px;
  background-color: #f7f7f7;
  width: 100%;
}
.mainBanner > div {
  background-image: url('../../Images/Images-modal4.png');
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 940px auto;
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  height: 336px;
  padding: 45px 80px;
  background-color: #aeaca9;
}

.mainBanner > div > h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  letter-spacing: 1.7px;
}

.MensWearMenu {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  grid-gap: 77px;
  margin-top: 19px;
  line-height: 24px;
}

.MensWearMenu > ul > li {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  letter-spacing: 0.13px;
}

/* Hiding More... links */
.MensWearMenu > ul:nth-of-type(1) > li:nth-of-type(7),
.MensWearMenu > ul:nth-of-type(2) > li:nth-of-type(7){
  display:none;
}

@media screen and (max-width: 1000px){
  .mainBanner {
    margin: 0 auto;
  }
  .MensWearMenu {
    grid-gap: 55px;
  }
}

@media screen and (max-width: 950px){
  .mainBanner > div{
    background-position: right -60px top 0;
  }
  .MensWearMenu{
    justify-content: space-between;
    width: 95%;
    grid-gap: 25px;
  }
}
@media screen and (max-width: 850px){
  .mainBanner {
    padding: 0 0 23px 0;
  }
  .MensWearMenu{
    justify-content: space-between;
    width: 85%;
  }

  /* hiding third column and showing 'More' link */
  .MensWearMenu > ul:nth-of-type(2) > li:nth-of-type(5),
  .MensWearMenu > ul:nth-of-type(2) > li:nth-of-type(6),
  .MensWearMenu > ul:nth-of-type(3){
    display:none;
  }
  .MensWearMenu > ul:nth-of-type(2) > li:nth-of-type(7){
    display:block;
    color: #f62f5e;
    background-color: white;
    font-weight: 500;
    margin: 2px 0;
    padding:5px;
    margin: 5px 0;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 600px){
  .mainBanner > div{
    background-position: right -60px top 0;
  }
  .MensWearMenu {
    display: grid;
    grid-template-columns: auto;
    justify-content: start;
    grid-gap: 0;
    margin-top: 19px;

  }
  /* hiding second column and showing 'More' link */
  
  .MensWearMenu > ul:nth-of-type(1) > li:nth-of-type(6),
  .MensWearMenu > ul:nth-of-type(2){
    display:none;
  }
  .MensWearMenu > ul:nth-of-type(1) > li:nth-of-type(7){
    display:block;
    color: #f62f5e;
    background-color: white;
    font-weight: 500;
    margin: 2px 0;
    padding:5px;
    margin: 5px 0;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 500px){
  .mainBanner > div{
    padding: 25px 30px;
  }
  .mainBanner > div > h1{
    max-width: 55%;
    line-height: 48px;
  }
}
@media screen and (max-width: 350px){
  .mainBanner > div{
    background-position: right -100px top 0;
  }
}
