.brandsSelector{
  width:100%;
}
.brandsSelector > h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 29px 0 24px 0;
  color: #b4b4b4;
}
.brandsSelector > div {
  overflow-y :scroll;
  height:120px;
  margin-right: 1px;
  padding-top:2px;
}
.brandsSelector > div::-webkit-scrollbar {
  width: 2px;
}
.brandsSelector > div::-webkit-scrollbar-track {
  background: #efefef;
}
.brandsSelector > div::-webkit-scrollbar-thumb {
  background: #6c6d7a;
  border-radius: 5px;
}

.brandsSelector > div > div > label{
  display: grid;
  grid-template-columns: 16px auto;
  grid-gap: 8.5px;
  align-items: start;
  width: 95%;
}
.brandsSelector > div > div > input{
  display: none;
}
.brandsSelector > div > div > input + label > div{
  width:16;
  height: 17px;
  border-radius: 4px;
  background-color: #efefef;
  margin-top: 3px;
}
.brandsSelector > div > div > input:checked + label > div{
  width:16;
  height: 17px;
  margin-top: 3px;
  background-image: url('../../Icon/checkbox-selected.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 16px 17px;
}
.brandsSelector > div > div > label > span{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}
