.subscribePane{
  padding: 0 30px;
  background-color: #efefef;
  height: 72px;
  width: 100%;
  display: grid;
  grid-template-columns: 524px auto auto;
  align-content:flex-start;
  justify-content: space-between;
}
.subscribePane > *{
  /*  border: 1px solid black; */
}
.subscribeInvitationText{
  font-family: 'Lucida Grande', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  margin-top: 30px;
}
.subscribePaneSubscribeButton{
  width:91px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  background-color: #f62f5e;
  border: 0;
  padding: 10px;
  border-radius: 24px;
  margin-top: 20px;
}
.subscribeInput{
  position: relative;
  margin-top: 19px;
}
.subscribeInput >input{
  width:310px;
  padding:7px 47px 8px 47px;
  border-radius: 30px;
  border: 2px solid #e1e1e1;

  font-family: 'Lucida Grande', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;

}
.subscribeInput >input::placeholder{
  font-family: 'Lucida Grande', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #bababa;
  letter-spacing: -0.6px;
}
.subscribeInput >img{
  position: absolute;
  width: 20px;
  height: auto;
  left:19px;
  top:8px;
}

@media screen and (max-width: 1000px){
.subscribePane{
  grid-template-columns: auto auto;
  height: auto;
  padding: 0 30px 30px 30px;
  justify-content: center;
  place-items:center;
}
.subscribeInvitationText{
  text-align: center;
  grid-column: 1/span 2;
  line-height: 24px;
  margin-top: 20px;
}
}

@media screen and (max-width: 500px){
  .subscribePane{
    grid-template-columns: auto;
  }
  .subscribeInvitationText{
    grid-column: 1/span 1;
  }
  .subscribeInput >input{
    width: 100%;
  }
}
