.logo {
    background-color: black !important;
}

.logoText {
    font-size: 3.1em;
    color:#f30965;   
}

.departmentName {
    margin-left: 1%;
    color: white !important;
    font-size: 1.25em;
    cursor: pointer;
}

li:hover {
    text-decoration: underline !important;
    text-decoration-color: #f30965 !important;
    color:white !important;
    background-color:#f30965 !important;
}

.departmentBar {
    background-color: black !important;
    padding-left: 2%;
    margin-left: -1% !important;
    margin-top: 0% !important;
}

.departmentText {
    display: flex;
    flex-direction: row;
    padding-left: 17% !important;
}