.tilesize{
    width: 15vw !important;
    height: 70vh;
}

.productCard {
    width: 16.7% !important;
    margin: 2% 3% 2% 4% !important;
    cursor: pointer;
}

.priceDiv{
    margin-left: -1%; 
    margin-right: -13%;
}

.priceTag {
    margin-left: 6% !important;
    color: white !important;
}

.discountPriceTag {
    margin-left: 20% !important;
    color: white !important;
}

.productName{
    margin-bottom: 2%;
    margin-top: -3% !important;
}

.productImage{
    height: 100% !important;
    width: 69% !important;
    margin-left: 16%;    
}

.productCard:hover {
    box-shadow: 0 0 100px rgba(33,33,33,.2) !important;
}

.ui.dimmer{
   background-color: transparent !important;
}

.ui.active.dimmer{
   background-color: transparent !important;
   background: rgb(243, 9, 101, 0.2) !important;
}

.ui.label{
    background-color: #f30965;    
}