.shippingHeader{
    color: #f30965 !important;
    text-align: center;
    font-size: 20px !important;
}

.shippingSubmit{
    color: white !important;
    background-color: #f30965 !important;
    margin-left: 47% !important;
}

.mainShippingDiv{
    height: 40em;
}