.colorPicker{
  padding-top: 12px;
}
.colorPicker > h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 12px;
  color: #b4b4b4;
}
.colorPickerButtons{
  display: grid;
  grid-template-columns: 22px 22px 22px 22px 22px 22px 22px;
  grid-template-rows: 22px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  max-width: 250px;
}
.colorPickerButtons > div >input{
  display: none;
}
.colorPickerButtons > div >input + label > div{
  width:22px;
  height: 22px;
  border-radius: 14px;
  border:4px solid white;
}
.colorPickerButtons > div >input:checked + label > div{
  box-shadow: 0 0 0px 1px rgba(202, 202, 202, 1);
}

.Blue {
  background-color: #6eb2fb;
}
.Indigo{
  background-color: #00d3ca;
}
.Red {
  background-color: #f62f5e;
}
.Orange {
  background-color: #fe5c07;
}
.Yellow {
  background-color: #f8e71c;
}
.Green {
  background-color: #7ed321;
}
.Purple {
  background-color: #9013fe;
}
