.sizesSelectorButtons{
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(46px, 1fr));
  width:inherit;
  max-width: inherit;
}
.sizesSelectorButtons > div > input{
  display: none;
}
.sizesSelectorButtons > div > input + label > div{
  border-radius: 3px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding-top: 6px;
  text-align: center;
  height: 24px;
  background-color: #efefef;
  color: #6c6c6c;
  width: 100%;
}
.sizesSelectorButtons > div > input:checked + label > div{
  background-color: #f62f5e;
  color: white;
}
.sizesSelector >h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 19px 0 19px 0;
  color: #b4b4b4;
}
